
html, body {
    width: 100%;
    height: 100%;
}

body {

    margin: 0;
    padding: 0;
    overflow: hidden;

    background: #000;
    color: #fff;
}

canvas {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#settings {
}

#error.activity {
    background: #ff0000;
    color: #000;
}
